:root {
    --font-family: Raleway, serif;
    --bg-color: #302430;
    --primary-color: #ddabdd;
    --secondary-color: #a590a5;
    --color: #ffffff;
    --primary-shadow: #a590a5;
    --secondary-shadow: #b498b9;
    --bottom-margin: 1rem;
    --line-height: 2rem;
    --default-align: center;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}
  
a {
    color: var(--primary-color);
}
  
a:hover {
    color: var(--secondary-color);
}
  
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--color);
  }
  
nav a {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

/* hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: 2rem;
}

.hero img {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
  }

/* text box next to image */
.intro-box {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 5px 20px 5px var(--primary-shadow);
    background-color: var(--color);
    text-align: left;
}
  
.intro-box h2 {
    margin-bottom: var(--bottom-margin);
    font-weight: var(--bolder-font);
}
  
.intro-box p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

/* text box next to image */
.about {
    color: var(--color);
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}
  
.about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    font-weight: var(--bolder-font);
}
  
.about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* skills section */
.skills {
    background-color: var(--bg-color);
    margin-left: 225px;
    margin-right: 225px;
    padding: 32px 0;
    margin-top: 2rem;
}
  
.main-skills-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.skills-title-main {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color);
  }
  
.skills-container {
    text-align: center;
    width: 11rem;
    padding: 3rem;
}
  
.skills-title {
    margin-bottom: var(--bottom-margin);
}
  
.skills-card {
    flex: 0 1 auto;
    background-color: var(--color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

#icon {
    color: var(--primary-color);
}

#icon:hover {
    color: var(--secondary-color);
}

@media (max-width: 800px) {
    .main-skills-container {
      flex-direction: column;
    }
}
 /* work section */
.work {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    margin-left: 150px;
    margin-right: 150px;
}
  
.main-work-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.work-title-main {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color);
  }
  
.work-container {
    text-align: center;
    width: 22rem;
    padding: 1rem;
}

.work-container p {
    padding: 0.4rem;
}

.work-container:first-child {
    position: relative;
    width: 100%;
}

.work-container:not(:first-child) {
    position: relative;
    flex: 1;
}

.work-title {
    margin-bottom: var(--bottom-margin);
}

.work-image {
    padding: 1rem;
    max-width: 100%;
    height: auto;
}
.work-details {
    margin-bottom: var(--bottom-margin);
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: var(--primary-shadow);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
  
.work-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

/* contact section */
.contact {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}
  
.main-contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-title-main {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color);
  }
  
.contact-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}
  
.contact-title {
    margin-bottom: var(--bottom-margin);
}
  
.contact-details {
    margin-bottom: var(--bottom-margin);
}
  
.contact-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.contact-card a {
    transition: 0.5s;
}

.contact-card a:hover {
    width: 36px;
    height: 36px;
}

@media (max-width: 800px) {
    .main-contact-container {
      flex-direction: column;
    }
}