/* global settings */
:root {
    --font-family: Raleway, serif;
    --bg-color: #302430;
    --primary-color: #ddabdd;
    --secondary-color: #a590a5;
    --color: #ffffff;
    --primary-shadow: #a590a5;
    --secondary-shadow: #b498b9;
    --bottom-margin: 1rem;
    --line-height: 1.8rem;
    --default-align: center;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}
  
a {
    color: var(--primary-color);
}
  
a:hover {
    color: var(--secondary-color);
}
  
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    font-size: 1rem;
}

/* navigation section */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    margin-left: 50px;
    margin-right: 50px;
    background-color: var(--bg-color);
    box-shadow: 0 10px 10px rgb(3, 3, 3);
}

nav h1 {
    color: var(--color);
    font-size: 34px;
    font-weight: bolder;
  }
  
nav a {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

/* hero section */
.hero {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.hero-img {
    flex: 1 1 auto;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
  }

/* text box next to image */
.intro-box {
    flex: 1 1 auto;
    width: 30rem;
    padding: 0.625rem;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 5px var(--primary-shadow);
    background-color: var(--color);
    text-align: left;
    font-size: larger;
}
  
.intro-box h2 {
    margin-bottom: var(--bottom-margin);
    font-weight: bolder;
    text-align: center;
}
  
.intro-box p {
    line-height: var(--line-height);
    padding: 0.75rem;
}

/* about me section */
.about {
    margin-top: 2rem;
    margin-left: 125px;
    margin-right: 125px;
    color: var(--color);
    background-color: var(--bg-color);
    align-content: center;
}
  
.about-title {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    font-weight: var(--bolder-font);
}
  
.about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* skills section */
.skills {
    background-color: var(--bg-color);
    margin-left: 225px;
    margin-right: 225px;
    padding: 32px 0;
    margin-top: 2rem;
}
  
.main-skills-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.skills-title-main {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color);
  }
  
.skills-container {
    text-align: center;
    width: 11rem;
    padding: 3rem;
}
  
.skills-title {
    margin-bottom: var(--bottom-margin);
    font-weight: bolder;
    font-size: medium;
}
  
.skills-card {
    flex: 0 1 auto;
    background-color: var(--color);
    border-radius: 10px;
    box-shadow: 0 10px 10px var(--primary-shadow);
    padding: 20px;
    margin: 20px;
}

#icon {
    color: var(--primary-color);
}

@media (max-width: 800px) {
    .main-skills-container {
      flex-direction: column;
    }
}

 /* work section */
.work {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    margin-left: 125px;
    margin-right: 125px;
}
  
.main-work-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.work-title-main {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color);
  }
  
.work-container {
    text-align: center;
    width: 22rem;
    padding: 1rem;
}

.work-container p {
    padding: 0.4rem;
    font-weight: bolder;
}

.work-container:first-child {
    position: relative;
    width: 100%;
}

.work-container:not(:first-child) {
    position: relative;
    flex: 1;
}

.work-image {
    padding: 1rem;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}
  
.work-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 10px 10px var(--primary-shadow);
    margin: 20px;
}

/* contact section */
.contact {
    background-color: var(--bg-color);
}
  
.main-contact-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.contact-title-main {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color);
  }
  
.contact-container {
    text-align: center;
    padding: 1.75rem;
}

.contact-card a {
    transition: 0.5s;
}

.contact-card a:hover {
    opacity: 0.7;
}

/* custom styling for all icons */
.fa-solid, .fa-brands {
  	text-align: center;
  	text-decoration: none;
}

@media (max-width: 800px) {
    .main-contact-container {
      flex-direction: column;
    }
}

/* footer */

.footer {
    margin-top: 2rem;
    margin-left: 100px;
    margin-right: 100px;
    color: var(--color);
    background-color: var(--bg-color);
    text-align: right;
    font-size: smaller;
}